/* Import Bulma Utilities */
@import '../../node_modules/bulma/sass/utilities/initial-variables';
@import '../../node_modules/bulma/sass/utilities/functions';

@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varta:wght@300;400;500;600;700&display=swap');

$family-sans-serif1: 'Quicksand', sans-serif;
$family-sans-serif1: 'Open Sans', sans-serif;
$family-sans-serif: 'Assistant', sans-serif;
$family-sans-serif1: 'Roboto', sans-serif;
$family-sans-serif1: 'Raleway', sans-serif;
$family-sans-serif1: 'Nunito', sans-serif;
$family-sans-serif1: 'Lato', sans-serif;
$family-sans-serif1: 'Barlow', sans-serif;
$family-sans-serif1: 'Cairo', sans-serif;
$family-sans-serif1: 'Catamaran', sans-serif;
$family-sans-serif1: 'Mulish', sans-serif;
$family-sans-serif1: 'Public Sans', sans-serif;
$family-sans-serif1: 'Varta', sans-serif;








// Colors
$primary: black;
$secondary: #4e6ab8;
$secondary-invert: findColorInvert($secondary) !default;
$accent: #ffba00;
$accent-invert: findColorInvert($accent) !default;;

$custom-colors: (
  "secondary":($secondary, $secondary-invert),
  "accent":($accent, $accent-invert),
);

//$desktop: 920px;

