/* Import Bulma Utilities */
@import '../../node_modules/bulma/sass/utilities/initial-variables';
@import '../../node_modules/bulma/sass/utilities/functions';

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

$family-sans-serif: 'Nunito', sans-serif;

// Colors
$primary: black;
$secondary: #4e6ab8;
$secondary-invert: findColorInvert($secondary) !default;
$accent: #ffba00;
$accent-invert: findColorInvert($accent) !default;;

$custom-colors: (
  "secondary":($secondary, $secondary-invert),
  "accent":($accent, $accent-invert),
);

//$desktop: 920px;

